In [1]:
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import MultinomialNB


from sklearn.metrics import accuracy_score

from sklearn.feature_extraction.text import CountVectorizer

import pickle

In [2]:
data = pd.read_csv('spam.csv',encoding= 'latin-1')
data

,v1,v2,Unnamed: 2,Unnamed: 3,Unnamed: 4
0,ham,"Go until jurong point, crazy.. Available only ...",NaN,NaN,NaN
1,ham,Ok lar... Joking wif u oni...,NaN,NaN,NaN
2,spam,Free entry in 2 a wkly comp to win FA Cup fina...,NaN,NaN,NaN
3,ham,U dun say so early hor... U c already then say...,NaN,NaN,NaN
4,ham,"Nah I don't think he goes to usf, he lives aro...",NaN,NaN,NaN
...,...,...,...,...,...
5567,spam,This is the 2nd time we have tried 2 contact u...,NaN,NaN,NaN
5568,ham,Will Ì_ b going to esplanade fr home?,NaN,NaN,NaN
5569,ham,"Pity, * was in mood for that. So...any other s...",NaN,NaN,NaN
5570,ham,The guy did some bitching but I acted like i'd...,NaN,NaN,NaN
5571,ham,Rofl. Its true to its name,NaN,NaN,NaN

In [3]:
data = data.drop(['Unnamed: 2','Unnamed: 3','Unnamed: 4'],axis = 1)
data

        v1                                                 v2
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5567  spam  This is the 2nd time we have tried 2 contact u...
5568   ham              Will Ì_ b going to esplanade fr home?
5569   ham  Pity, * was in mood for that. So...any other s...
5570   ham  The guy did some bitching but I acted like i'd...
5571   ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [4]:
data = data.rename(columns={'v1': 'result'})
data = data.rename(columns={'v2': 'messages'})
data

     result                                           messages
0       ham  Go until jurong point, crazy.. Available only ...
1       ham                      Ok lar... Joking wif u oni...
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...
3       ham  U dun say so early hor... U c already then say...
4       ham  Nah I don't think he goes to usf, he lives aro...
...     ...                                                ...
5567   spam  This is the 2nd time we have tried 2 contact u...
5568    ham              Will Ì_ b going to esplanade fr home?
5569    ham  Pity, * was in mood for that. So...any other s...
5570    ham  The guy did some bitching but I acted like i'd...
5571    ham                         Rofl. Its true to its name

[5572 rows x 2 columns]

In [5]:
data['spam'] = data.result.map({'spam':1,'ham':0}) 
data

     result                                           messages  spam
0       ham  Go until jurong point, crazy.. Available only ...     0
1       ham                      Ok lar... Joking wif u oni...     0
2      spam  Free entry in 2 a wkly comp to win FA Cup fina...     1
3       ham  U dun say so early hor... U c already then say...     0
4       ham  Nah I don't think he goes to usf, he lives aro...     0
...     ...                                                ...   ...
5567   spam  This is the 2nd time we have tried 2 contact u...     1
5568    ham              Will Ì_ b going to esplanade fr home?     0
5569    ham  Pity, * was in mood for that. So...any other s...     0
5570    ham  The guy did some bitching but I acted like i'd...     0
5571    ham                         Rofl. Its true to its name     0

[5572 rows x 3 columns]

In [6]:
Y = np.array(data['result'])
X = np.array(data['messages'])
X.shape,Y.shape

((5572,), (5572,))

In [7]:
cv = CountVectorizer()

In [9]:
xtrain,xtest,ytrain,ytest = train_test_split(X, Y, stratify=Y, random_state=42)
xtrain.shape, xtest.shape, ytrain.shape, ytest.shape

((4179,), (1393,), (4179,), (1393,))

In [10]:
xtrain = cv.fit_transform(xtrain)
xtest = cv.transform(xtest)

clf = MultinomialNB()

clf.fit(xtrain,ytrain)

MultinomialNB()

In [11]:
yp=clf.predict(xtest)
acc = accuracy_score(ytest,yp)
acc

0.9856424982053122

In [12]:
clf.score(xtest,ytest)

0.9856424982053122

In [13]:
with open('vectorizer.pickle', 'wb') as f:
    pickle.dump(cv, f)

In [23]:
sample = input('Enter a message:')
res = cv.transform([sample]).toarray()
print(clf.predict(res))

Enter a message: You won 100 rupees in rummy account

['spam']

In [24]:
with open('spam.pickle', 'wb') as f:
    pickle.dump(clf, f)

In [17]:
sample = input('Enter a message:')
res = cv.transform([sample]).toarray()
bestmodel = open('spam.pickle','rb')
clf = pickle.load(bestmodel)
print(clf.predict(res))

Enter a message:win
['spam']